.Card{
    z-index: 10; /* Aumenta el z-index para que sea mayor que el de .overlay */
    position: relative; /* Agrega un contexto de posicionamiento */
    padding: 1rem;
    background-color: white;
}


.cardContent {


}

.Card img{
    max-width: 100%;
 height: auto;
 border-radius: 20px;
}